
		body {text-align: center;font-size: 12px;background:#000;font-family: sans-serif;}
		#container {display:block;max-width: 1000px;margin: 0 auto;text-align: left;margin-bottom:20px}
		.header {display:block;color:#fff}
		.footer {border-top: 1px solid #cccccc;padding:5px}
		h1 {font-size: 1.8em;padding: 0 10px;margin: 0;font-weight: bold;}
		h2 {font-size: 1.2em;padding: 0 10px;margin: 1px 0 0;color: #aaa;font-weight: normal;}
		h2.slogan {font-size:1.3em;padding:0 10px 0 10px}
		h2.slogan.hide {display:none}
		p.ronly {color:#4caf50;font-weight:bold;padding:10px 0 0 10px}
		a {color: #0a3d77;text-decoration: none;}
		a:hover , a:active, a:focus {color: #3f51b5;text-decoration: underline;background-color:transparent}
		h1 a {color: #9cbdff;text-decoration: none;}
        .icon img {border-radius:5px}
		.content {display:block;background:#fff}
		.icon img.vthumb {width:50px;height:40px;object-fit: cover;position:absolute;top:5px;left:0;border-radius:0}
		.updir {width:25px;height:19px;padding:17px 0 0 10px}
		.itemname {padding-left:60px;text-wrap: wrap;word-wrap: break-word}
		.name.directory .itemname {margin-bottom:15px;padding-top:10px}
		.delbutton {background:#f1f1f1;color:#993300;padding:2px 5px;border-radius:3px;cursor:pointer;font-size:.7em;font-weight:bold}
		div.download {padding:3px 20px 0 0;clear:both;float:left}
		span.download, .move {background:#f1f1f1;color:#0a3d77;padding:2px 5px;border-radius:2px;cursor:pointer;font-size:.7em;font-weight:bold}
		.ddir {padding:4px 0 20px 10px;float:left}
		.dmform {float:left;padding:3px 20px 0 0;}
		.exif {padding:4px 0 20px 10px;float:left}
		.dfolder {padding:20px 0 20px 0px;float:left;}
		ul#sort {margin-top: 20px;float:none;clear:both}
		ul li {display: block;list-style-type: none;overflow: hidden;padding: 5px;}
		ul#main li:hover {background-color: #eee;}
		ul li .date {text-align: center;width: 100px;}
		ul li .size {text-align: right;width: 60px;}
		ul li .date, ul li .size {float: right;display: block;}
		ul li a.cdate, ul li a.sname {float: left;width:60px}
		ul#sort li {border-bottom: 1px solid #eee;}
		ul#sort li a {color: #000000;}
		ul#sort li .asc span, ul#sort li .desc span {padding-right: 15px;background-position: right center;background-repeat: no-repeat;}
		ul#sort li .asc span {background-image: url('down.png');}
		ul#sort li .desc span {background-image: url('up.png');}
		ul li.row {border-top: 1px solid #eee;}
		ul li.row:first-child {border-top: none;}
		ul li.row .name {font-weight: bold;}
		ul li.row .name.file {font-weight: normal;}
		ul li.row .directory, ul li.row .file {background-position: left center;background-repeat: no-repeat;}
		ul li.row .file {padding-left: 0}
		#newfilename {clear:both;float:none}
		.uploader {margin-top:20px;border:1px solid #2c2c2c;justify-content: center;text-align: center;}
		.uploader.hide {display:none}
		.uploader label.file {width:100px;float:left}
		.uploader input.submit, .uploader button.submit {float:left}
		.uploader form {position:relative}
		.uploader form label.file{cursor: pointer;margin:10px 10px 0 10px;width:195px;}
		.uploader form label.file .block {display: block;margin-top:1px;border:1px solid gray;padding:5px;background:#f1f1f1;color:gray}
		.uploader form .preview {height: auto;width: 10vw;margin: 5px 0;}
		.uploader form input[type=file] {position:absolute;left:11px;top:12px;z-index:-1;color:transparent;opacity:0}
		.uploader ::file-selector-button {border: 0px solid transparent;background-color: transparent;color:transparent;opacity:0}
/*
		.uploader form input[type=file] {float:left;padding: 5px 10px;font-weight:bold;border:1px solid gray;margin:0 10px;width:180px}
		.uploader form input::file-selector-button {display:none}
*/
		.uploader form .submit {
		border: 1px solid #333;
		background: #efefef;
		padding: 5px 9px;
		-webkit-transition: ease all 0.3s;
		transition: ease all 0.3s;
		margin: 10px 10px;
		cursor: pointer;
		outline: none;display:block;
		}
		.uploader form .show {visibility: visible;}

		.uploader form .hide {visibility: hidden;}

		.uploader form #pass{float:left;max-width:600px;padding:10px 20px;}

		/* @media screen and (max-width: 600px) {*/
		.uploader form {display:block}

		.uploader form #pass{float:none;clear:both;max-width:100%;padding:5px 10px;margin-top:10px;}
		.uploader form label.file{width:195px;}
		/*}*/

		.uploader form div .progress {
		width: 100%;
		height: 12px;
		overflow: hidden;
		background: #f5f5f5;
		-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
		}

		.uploader form div .progress-bar {
		width: 70%;
		height: 100%;
		font-size: 10px;
		padding: 1px;
		text-align: center;
		background-color: #619eff;
		-webkit-transition: width .6s ease;
		transition: width .6s ease;
		}

		.uploader form div .progress-bar-success {
		background-color: #00aa00 !important;
		}

		.icon {background:url('/css/icons.png');width:50px;height:50px;display:block;float:left;position:relative}

		.jpg, .jpeg, .gif, .png, .webp, .dng, .tiff, .tif { background-position: -50px 0 !important; }
		.pdf { background-position: -100px 0 !important; }
		.txt, .rtf { background-position: -150px 0 !important; }
		.xls, .xlsx { background-position: -200px 0 !important; }
		.ppt, .pptx { background-position: -250px 0 !important; }
		.doc, .docx { background-position: -300px 0 !important; }
		.zip, .rar, .tar, .gzip, .gz { background-position: -350px 0 !important; }
		.swf { background-position: -400px 0 !important; }
		.fla { background-position: -450px 0 !important; }
		.mp3 { background-position: -500px 0 !important; }
		.wav { background-position: -550px 0 !important; }
		.mp4 { background-position: -600px 0 !important; }
		.mov, .aiff, .m2v, .avi, .pict, .qif { background-position: -650px 0 !important; }
		.wmv, .avi, .mpg, .mkv { background-position: -700px 0 !important; }
		.flv, .f2v { background-position: -750px 0 !important; }
		.psd { background-position: -800px 0 !important; }
		.ai { background-position: -850px 0 !important; }
		.html, .xhtml, .dhtml, .php, .asp, .css, .js, .inc { background-position: -900px 0 !important; }
		.directory { background-position: -950px 0 !important; }

		input[type=text] {width: 200px;padding:5px 10px;margin: 10px;box-sizing: border-box;border:1px solid #333}
		input[type=text]#newfilename {margin-right:0;margin-left:0}
		input[type=submit].btn.adddir {cursor:pointer;padding:5px 10px;margin: 10px 0;box-sizing: border-box;border:1px solid #333;background:#efefef}
		* {margin: 0;padding: 0;border: none;}
		.pagination {
				list-style-type: none;
				padding: 10px 0;
				display: inline-flex;
				justify-content: space-between;
				box-sizing: border-box;
			}
			.pagination li {
				box-sizing: border-box;
				padding-right: 10px;
			}
			.pagination li a {
				box-sizing: border-box;
				background-color: #e2e6e6;
				padding: 8px;
				text-decoration: none;
				font-weight: bold;
				color: #616872;
				border-radius: 4px;
			}
			.pagination li a:hover {
				background-color: #d4dada;
			}
			.pagination .next a, .pagination .prev a {
				text-transform: uppercase;
			}
			.pagination .currentpage a {
				background-color: #518acb;
				color: #fff;
			}
			.pagination .currentpage a:hover {
				background-color: #518acb;
			}


